<div class="card shadow-xl max-w-64 m-4 bg-white m-x-auto">
  <div class="card-body">
    <div class="mt-2">
      {% if not contact.name %}
        <h3 class="text-lg font-semibold">Pick A Teammate</h3>
      {% else %}
        <h3 class="text-lg font-semibold">You've chosen {{ contact.name }}</h3>
      {% endif %}
    </div>

    <form data-action="change->live#form" data-live-action-param="form">
      {{ contact.errors.full_messages|join(", ") }}

      <div class="form-control w-full max-w-xs">
        <label class="label">
          <span class="label-text">Gender</span>
        </label>
        <select name="contact[gender]" class="select select-bordered">
          {{ options_for_select({ "Select Your Gender": "", "Male": "male", "Female": "female" }, selected: contact.gender) }}
        </select>
      </div>

      {% if contact.gender == "male" %}
        <div class="form-control w-full max-w-xs mt-4">
          <label class="label">
            <span class="label-text">Male Names</span>
          </label>
          <select name="contact[name]" class="select select-bordered">
            {{ options_for_select(["Choose a Name", "Craig", "Jim"], selected: contact.name) }}
          </select>
        </div>
      {% endif %}

      {% if contact.gender == "female" %}
        <div class="form-control w-full max-w-xs mt-4">
          <label class="label">
            <span class="label-text">Female Names</span>
          </label>
          <select name="contact[name]" class="select select-bordered">
            {{ options_for_select(["Choose a Name", "Beth", "Tiffany"], selected: contact.name) }}
          </select>
        </div>
      {% endif %}

      <button class="btn btn-primary mt-4"
              type="button"
              data-action="click->live#call"
              data-live-action-param="save">
        Add to Team
      </button>
    </form>

    <h3 class="text-xl mt-4">Current Team</h3>

    <ul>
      {% for contact in contacts[team] ?? [] %}
        <li>{{ contact.name }} ({{ contact.gender == "female" ? "F" : "M" }})</li>
      {% else %}
        <li>(No teammates yet)</li>
      {% endfor %}
    </ul>
  </div>
</div>
