<%= live_component(component, data: { controller: "todo-item" }, class: "flex justify-between items-center p-2") do %>
  <div class="label cursor-pointer gap-2 flex-grow justify-start">
    <input type="checkbox"
           class="checkbox checkbox-primary"
           <%= todo[:completed] ? 'checked' : '' %>
           data-action="change->live#call"
           data-live-action-param="toggle"/>
    <div class="w-full <%= todo[:completed] ? 'line-through text-gray-500' : '' %>"
          data-action="click->live#call"
          data-live-action-param="edit">
      <%= todo[:text] %>
    </div>
  </div>

  <% priority_class = case todo[:priority]
                      when :high then 'badge-error'
                      when :medium then 'badge-warning'
                      else 'badge-info'
                      end %>
  <span class="badge <%= priority_class %> mr-2 cursor-pointer"
        data-action="click->live#call"
        data-live-action-param="change_priority">
    <%= todo[:priority].to_s.capitalize %>
  </span>

  <button class="btn btn-square btn-xs btn-error"
          data-action="click->live#call"
          data-live-action-param="remove">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
    </svg>
  </button>
<% end %>
